rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla global para la colección de contratos y sus subcolecciones
    match /contracts/{contractId} {
      // Permitir leer y escribir SOLO si el usuario está autenticado y su email está en la lista blanca
      allow read, write: if request.auth != null && (
        request.auth.token.email == "guiniote@gmail.com"
        // Para agregar a tu novia y suegra, descomenta las líneas de abajo y poné sus correos:
        || request.auth.token.email == "nm.schmidt5533@gmail.com"
        // || request.auth.token.email == "suegra@gmail.com"
      );
      
      // Aplicar la misma regla a la subcolección de historial de actualizaciones
      match /updatesHistory/{updateId} {
      	allow read, write: if request.auth != null && (
          request.auth.token.email == "guiniote@gmail.com"
          || request.auth.token.email == "nm.schmidt5533@gmail.com"
          // || request.auth.token.email == "suegra@gmail.com"
        );
      }
    }
  }
}
